.footer
  .footer-container.flex.w-container
    .logo-container
      .logo-box Space
        span ru
        .logo-wrapper.flex
          .logo-inf ООО «Spaceru» <br> ИНН: 64334577 <br> ОГРН: 23145235
          a(href='#') Политика конфиденциальности
          a(href='#') Пользовательское соглашение
          .c 2019 Все права защищены
    .slogan-footer Байконур открывает двери даже <br> во время пуска космических кораблей
    .phone-container.flex
      .phone 8 800 555-35-35
      a(href='#').phone-link Заказать звонок 
      
      .messengers.flex.mt
        .mess-box.flex
          svg(fill='#4bae50' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='24px' height='24px')
            path(d='M25,2C12.318,2,2,12.318,2,25c0,3.96,1.023,7.854,2.963,11.29L2.037,46.73c-0.096,0.343-0.003,0.711,0.245,0.966 C2.473,47.893,2.733,48,3,48c0.08,0,0.161-0.01,0.24-0.029l10.896-2.699C17.463,47.058,21.21,48,25,48c12.682,0,23-10.318,23-23 S37.682,2,25,2z M36.57,33.116c-0.492,1.362-2.852,2.605-3.986,2.772c-1.018,0.149-2.306,0.213-3.72-0.231 c-0.857-0.27-1.957-0.628-3.366-1.229c-5.923-2.526-9.791-8.415-10.087-8.804C15.116,25.235,13,22.463,13,19.594 s1.525-4.28,2.067-4.864c0.542-0.584,1.181-0.73,1.575-0.73s0.787,0.005,1.132,0.021c0.363,0.018,0.85-0.137,1.329,1.001 c0.492,1.168,1.673,4.037,1.819,4.33c0.148,0.292,0.246,0.633,0.05,1.022c-0.196,0.389-0.294,0.632-0.59,0.973 s-0.62,0.76-0.886,1.022c-0.296,0.291-0.603,0.606-0.259,1.19c0.344,0.584,1.529,2.493,3.285,4.039 c2.255,1.986,4.158,2.602,4.748,2.894c0.59,0.292,0.935,0.243,1.279-0.146c0.344-0.39,1.476-1.703,1.869-2.286 s0.787-0.487,1.329-0.292c0.542,0.194,3.445,1.604,4.035,1.896c0.59,0.292,0.984,0.438,1.132,0.681 C37.062,30.587,37.062,31.755,36.57,33.116z')

        .mess-box.flex
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='24px' height='24px')
            path(fill='#29b6f6' d='M24 4A20 20 0 1 0 24 44A20 20 0 1 0 24 4Z')
            path(fill='#fff' d='M33.95,15l-3.746,19.126c0,0-0.161,0.874-1.245,0.874c-0.576,0-0.873-0.274-0.873-0.274l-8.114-6.733 l-3.97-2.001l-5.095-1.355c0,0-0.907-0.262-0.907-1.012c0-0.625,0.933-0.923,0.933-0.923l21.316-8.468 c-0.001-0.001,0.651-0.235,1.126-0.234C33.667,14,34,14.125,34,14.5C34,14.75,33.95,15,33.95,15z')
            path(fill='#b0bec5' d='M23,30.505l-3.426,3.374c0,0-0.149,0.115-0.348,0.12c-0.069,0.002-0.143-0.009-0.219-0.043 l0.964-5.965L23,30.505z')
            path(fill='#cfd8dc' d='M29.897,18.196c-0.169-0.22-0.481-0.26-0.701-0.093L16,26c0,0,2.106,5.892,2.427,6.912 c0.322,1.021,0.58,1.045,0.58,1.045l0.964-5.965l9.832-9.096C30.023,18.729,30.064,18.416,29.897,18.196z')
        
        .mess-box.flex
          svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M3.61401 23.5347C3.92205 23.7236 4.26789 23.8186 4.61515 23.8186C4.90565 23.8186 5.19773 23.7513 5.46857 23.6168L7.35969 22.679C9.32129 23.5129 11.4594 23.8038 13.5735 23.5248C18.8765 22.8234 23.1539 18.5014 23.7436 13.2474C24.1505 9.62081 22.8892 6.08222 20.2825 3.54178C17.676 1.00234 14.0855 -0.18672 10.4278 0.281208C5.23478 0.946968 0.968182 5.16713 0.283438 10.3163C-0.14369 13.5244 0.717598 16.6524 2.71041 19.1562V21.9261C2.71041 22.586 3.04814 23.1875 3.61401 23.5347ZM1.95701 10.5348C2.54376 6.12571 6.19692 2.51294 10.6438 1.94412C13.7829 1.54049 16.8646 2.55943 19.0987 4.73782C21.3332 6.91421 22.4146 9.95018 22.0654 13.0624C21.5599 17.5616 17.8949 21.2644 13.3499 21.8648C11.4221 22.119 9.46886 21.8184 7.69932 20.9943C7.46508 20.8854 7.19304 20.8895 6.96297 21.0042L4.71372 22.1181C4.62492 22.1626 4.54946 22.1378 4.50165 22.1102C4.45517 22.0805 4.39901 22.0251 4.39901 21.9261V18.8595C4.39901 18.6636 4.3301 18.4737 4.2041 18.3242C2.37686 16.1459 1.57901 13.379 1.95701 10.5348ZM10.0054 9.08266L6.12945 14.5542C5.86397 15.0162 6.3624 15.5385 6.84077 15.3011L10.0438 12.8744C10.2093 12.7923 10.4054 12.8003 10.5639 12.8942L14.0303 14.9568C14.3004 15.1181 14.6514 15.0172 14.7923 14.7372L17.9224 9.36552C18.1642 8.88574 17.6243 8.39014 17.1604 8.66616L13.9986 10.8831C13.8101 10.9949 13.5719 10.983 13.3959 10.8514L10.7994 8.92034C10.5392 8.72746 10.1668 8.8027 10.0054 9.08266Z' fill='#2096F3')
        
        .mess-box.flex
          svg(width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
            rect(width='24' height='23' fill='url(#pattern0)')
            defs
              pattern#pattern0(patternContentUnits='objectBoundingBox' width='1' height='1')
                use(xlink:href='#image0_5:16' transform='scale(0.0416667 0.0434783)')
              image(id='image0_5:16' width='24' height='23' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAXCAYAAAARIY8tAAACLklEQVRIibWVPWgVQRSFv/cS/AuKYAT/EcQIihBBlBQiWER0BCcXREEkmkYQjEIC6R62FoJaqARsAhY2wxSOIKiNNv6ACmoREhAEDaaIFhp/UOTKrCyTfY81eR6YYs8M59yZuXumQh0YZ+cB++PYCWwA2uLqz8A48Ai4rSOI/16kNMPAOLsAOAMMAMvrFZBgErgAXAriv9Y1MM52AjeBjpLCKUaBw0H88xkGxtk9wC1g4SzFM0wDB4L4+38NjLNbgMfAojmKZ/gC7AjiX1WMs1XgKbCtSeIZngHbVbznP4gTNXvUoDeZOAlczn2P6MXFltwIfIx8HzAMDAXxFR3ApkSrVw26EvIDMJX7norcRBA/FoUz/r3OGWePGme1c+4mWl1q0F52z8bZZcAT4Eoyped9Ebie8O2twC+gWtJjcTyyfcBqoDPy84GluT89wzcVHisQmgBeAG8L5nYBg0H8aI7bDBwHDiVrx9XgTkKuCeKvBfFa3ZEYF+uAFbFqRc042w2sB9YG8TfiepNoBf0P1P1lUS7NET80cqpB/GvgapPFFeeD+DfZ5Q7GPm8WNIfOkXVPEK8BtRd40AQDzTQJ4n+Sb88g/hOgiVqLYTUb3AO6o9YfFF6scVa75TRwDFhV0kjv8Wz6sjXsHONsC7BVozc+nQcLlunzeSqIHynS+KfWNM6+A1bmqIfAiZhRhSgbESquxSzJVd0P7G4krtAsKgvNGi1IA60WxOtuGgP4DfMSlGWzA4lJAAAAAElFTkSuQmCC')