.content
  .w-container
    .breadcrumbs.flex 
      a(href='#').br-link Главная
      .separator /
      a(href='#').br-link Страница оплаты
    .content-block.flex
      .column.flex
        .title.flex Онлайн оплата
          span без комиссии
        .paragraph.flex Наведи телефон на QR код
          svg(width='16' height='30' viewBox='0 0 16 30' fill='none' xmlns='http://www.w3.org/2000/svg')
            g(clip-path='url(#clip0_5:8)')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M12.857 0H3.14301C2.29931 0.0121224 1.4948 0.358123 0.905703 0.962219C0.316601 1.56632 -0.00908131 2.37926 1.91529e-06 3.22299V26.777C-0.00908131 27.6207 0.316601 28.4337 0.905703 29.0378C1.4948 29.6419 2.29931 29.9879 3.14301 30H12.857C13.7007 29.9879 14.5052 29.6419 15.0943 29.0378C15.6834 28.4337 16.0091 27.6207 16 26.777V3.22299C16.0099 2.37902 15.6845 1.56563 15.0952 0.961365C14.5059 0.357095 13.7009 0.0113337 12.857 0V0ZM6.81702 1.32401H9.22901C9.36886 1.34569 9.49635 1.41667 9.58844 1.52414C9.68053 1.63161 9.73114 1.76847 9.73114 1.91C9.73114 2.05153 9.68053 2.1884 9.58844 2.29587C9.49635 2.40334 9.36886 2.47432 9.22901 2.496H6.81702C6.67716 2.47432 6.54967 2.40334 6.45758 2.29587C6.36549 2.1884 6.31482 2.05153 6.31482 1.91C6.31482 1.76847 6.36549 1.63161 6.45758 1.52414C6.54967 1.41667 6.67716 1.34569 6.81702 1.32401V1.32401ZM4.53699 1.23599C4.67039 1.23321 4.80158 1.27026 4.91382 1.34241C5.02606 1.41456 5.11426 1.51854 5.16712 1.64105C5.21997 1.76357 5.23511 1.89906 5.21057 2.03021C5.18604 2.16137 5.12292 2.28225 5.02936 2.37738C4.9358 2.47251 4.81603 2.53756 4.6853 2.56427C4.55458 2.59098 4.41885 2.57809 4.29547 2.52728C4.1721 2.47647 4.06668 2.39005 3.99268 2.27902C3.91867 2.168 3.87944 2.03742 3.88001 1.90399C3.87855 1.81679 3.89446 1.73019 3.92682 1.6492C3.95918 1.56822 4.00733 1.49449 4.06848 1.43231C4.12964 1.37013 4.20259 1.32075 4.28302 1.28705C4.36346 1.25335 4.44978 1.23598 4.53699 1.23599V1.23599ZM8.02301 27.955C7.80874 27.9604 7.59773 27.9017 7.41693 27.7866C7.23614 27.6714 7.09374 27.505 7.008 27.3086C6.92225 27.1121 6.89705 26.8946 6.93555 26.6837C6.97404 26.4729 7.07449 26.2783 7.22412 26.1248C7.37375 25.9713 7.56576 25.8659 7.77558 25.8221C7.98539 25.7783 8.20348 25.798 8.40204 25.8787C8.6006 25.9595 8.77057 26.0976 8.89026 26.2754C9.00995 26.4532 9.07391 26.6627 9.07398 26.877C9.07609 27.0169 9.05058 27.1558 8.99884 27.2858C8.94711 27.4158 8.87019 27.5343 8.77252 27.6344C8.67486 27.7346 8.55838 27.8145 8.42975 27.8695C8.30112 27.9245 8.1629 27.9536 8.02301 27.955V27.955ZM14.171 25.166H1.83399V3.89999H14.171V25.164V25.166Z' fill='#FF695A')
            defs
              clippath(id='clip0_5:8')
                rect(width='16' height='30' fill='white')
        .qr.flex
          img(src="./img/qr.png", alt="QR")
          svg(width='55' height='76' viewBox='0 0 55 76' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M44.749 0.0159825C44.549 -0.0110175 44.455 0.309996 44.657 0.366996C49.37 1.691 50.8981 11.077 51.7041 15.136C52.557 19.297 52.8872 23.5482 52.687 27.791C52.3604 35.5318 49.7709 43.0069 45.239 49.291C34.86 63.309 18.697 63.613 2.90102 62.441C2.55002 59.621 12.237 54.187 14.421 52.389C14.5827 52.252 14.6857 52.0582 14.7088 51.8475C14.7319 51.6369 14.6733 51.4253 14.5452 51.2566C14.417 51.0878 14.229 50.9745 14.0199 50.9402C13.8108 50.9059 13.5964 50.953 13.421 51.072C8.96404 54.224 4.69104 57.656 0.353042 60.972C0.165096 61.1169 0.0419762 61.3302 0.0105124 61.5654C-0.0209514 61.8007 0.041758 62.0388 0.185012 62.228L2.21504 64.304C5.57497 68.4154 9.29577 72.2182 13.333 75.667C14.087 76.311 15.3 75.142 14.588 74.413L8.74501 68.439C8.28201 67.965 7.237 67.109 6.157 66.167C5.627 65.575 5.113 64.967 4.597 64.357C12.766 64.949 21.178 65.327 29.097 62.93C37.6893 60.22 44.8949 54.282 49.197 46.366C53.4831 38.4717 55.1998 29.4371 54.108 20.521C53.496 14.9 51.774 0.975983 44.749 0.0159825Z' fill='#FF695A')

        .con-inf ООО «Центр Услуг Населению» <br> ИНН 9901035936 ; ОГРН 1169901000059 <br> БИК 040037470 ; Р/С 40702810200040000339 <br> Юридический адрес: 468320 г.Байконур ул. Абая дом 5 комната 124 <br> Фактический адрес: 468320 г.Байконур ул. Абая дом 5 комната 124 <br> E-mail: cun.baikonur@mail.ru
      .column.flex
        .circle
        img(src="./img/man.png", alt="Photo").man 
