.content {
  background-image: url(./img/back.png);
  background-size: cover;
  padding-bottom: 76px;
}
.breadcrumbs {
  padding-top: 20px;
  margin-bottom: 48px;
}
.br-link {
  font-family: "Magistral Medium", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  &:last-child {
    color: #ff695a;
  }
}
.separator {
  font-family: "Magistral Medium", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  margin: 0 8px;
  color: #ff695a;
}
.column {
  flex-direction: column;
  &:last-child {
    align-items: center;
    justify-content: center;
    position: relative;
  }
}
.title {
  font-family: "Magistral Bold", Arial, Helvetica, sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  flex-direction: column;
  color: white;
  span {
    color: #ff695a;
  }
}
.paragraph {
  font-family: "Magistral Book", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  align-items: center;
  margin-top: 36px;
  color: white;
  svg {
    margin-left: 14px;
  }
}
.qr {
  position: relative;
  width: 256px;
  height: 256px;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  background: linear-gradient(0deg, #ff695a 0%, #ffaf7b 100%);
  img {
    width: 240px;
    height: 240px;
  }
  svg {
    position: absolute;
    top: -30px;
    right: -80px;
  }
}
.con-inf {
  font-family: "Magistral Book", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: white;
  margin-top: 40px;
}
.circle {
  position: absolute;
  width: 360px;
  height: 360px;
  background: linear-gradient(0deg, #ff695a 0%, #ffaf7b 100%);
  box-shadow: 0px 10px 50px rgba(255, 105, 90, 0.5);
  border-radius: 100%;
  top: 174px;
  left: 215px;
}
.man {
  position: relative;
  z-index: 2;
}
@media (max-width: 1024px) {
  .column {
    &:last-child {
      display: none;
    }
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 40px;
    line-height: 40px;
  }
  .con-inf {
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 375px) {
  .content {
    padding-bottom: 40px;
  }
  .breadcrumbs {
    margin-bottom: 30px;
    padding-top: 30px;
  }
  .title {
    font-size: 32px;
    line-height: 32px;
  }
  .paragraph {
    font-size: 20px;
    line-height: 20px;
    margin-top: 16px;
  }
  .qr {
    svg {
      display: none;
    }
  }
}
