<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title SpaceRu
    body
        include ./pug/header
        main
          include ./pug/section_1
        include ./pug/footer
        script(type='module' src='./main.js')
